{% extends "base.html" %}
{% block title %}Detalle Especialista{% endblock %}
{% block content %}

<h2 class="mb-4">Especialista</h2>

<div class="card p-4 shadow">
    <p><strong>Nombre:</strong> {{ especialista.nombre }} {{ especialista.apellido }}</p>
    <p><strong>Especialidad:</strong> {{ especialista.especialidad }}</p>
    <p><strong>Matrícula:</strong> {{ especialista.matricula_profesional }}</p>
    <p><strong>Teléfono:</strong> {{ especialista.telefono }}</p>

    <a href="{% url 'editar_especialista' especialista.pk %}" class="btn btn-warning">Editar</a>

    <form action="{% url 'eliminar_especialista' especialista.pk %}" method="post" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-danger">Eliminar</button>
    </form>

    <a href="{% url 'lista_especialistas' %}" class="btn btn-secondary">Volver</a>
</div>

{% endblock %}
